.board {
  /* background: rgb(228, 228, 228); */
  width: 100%;
  height: 100vh;
  background-image: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.board button {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(18, 193, 199);
  outline: none;
  border: 1px solid white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.board-button {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(18, 193, 199);
  outline: none;
  border: 1px solid white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.board-button1 {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(18, 193, 199);
  outline: none;
  border: 1px solid white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.board .board-one {
  font-size: 40px;
  color: #333333;
  margin: 0;
  text-align: center;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 100%; */
  margin: 120px;
  background-color: aliceblue;
  padding: 150px;
  border-radius: 20px;
  font-weight: bold;
}

.answer {
  position: absolute;
  bottom: 15%;
  font-size: 75px;
  border: 6px solid #4bff57;
  color: #ffffff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-answer {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
}

.team-answer .sub {
  text-align: center;
  width: 50%;
}

.admin-panel button {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(18, 193, 199);
  outline: none;
  border: 1px solid white;
  margin-top: 100px;
  margin-right: 20px;

  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.admin-panel {
  text-align: center;
}

.green {
  color: greenyellow;
  text-align: center;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  color: red;
  text-align: center;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.normal {
  color: black;
  text-align: center;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-board-team {
  border: 1px solid rgb(15, 187, 255);
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  background-color: rgb(64, 147, 235);
  opacity: 0.8;
  height: 300px;
}
